div{
    margin-left: 10px;
}

.heading2{
    font-family: "Do Hyeon";
    background-color: antiquewhite;
    padding-left: 10px;
}

li{
    font-family: "Jua";
}

.table{
    font-family: "Jua";   
}

img{
    width: 100px;
    height: 150px;
}

